.cards-container{
    display: flex;
    flex-direction: row;
}


.cards-container mat-card{
    width: 120px;
    height: 120px;
    font-size: x-large;
    margin: auto;
}

mat-card{
    align-items: center;
}

mat-card-header{
    font-size: medium;
}