.temperature-container{
    max-height: 50%;
}

.card{
    max-width: 95%;
    height: 100%;
    display: flex;
    margin: auto
}

.icon-container{
    display: flex;
    flex-direction: row-reverse;
    margin: 15px;
}

.icon-container img{
    max-height: 70px;
    max-width: 70px;
}

.action-button{
    margin: 1%;
    display: block;
}
