<div class="temperature-container" *ngIf="see">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{ weather.name }}</mat-card-title>
      <mat-card-subtitle>{{
        weather.weather[0].description
      }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="temperature">
        {{ weather.main.temp }}
      </div>

      <div class="icon-container">
        <img [src]="'../../../assets/icons/' + icon_name" />
      </div>
    </mat-card-content>
    <mat-card-actions class="action-button">
      <div>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Complete weather </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngIf="panelOpenState">
            <app-complete-temperature
              [visibility]="visibility"
              [wheather]="weather"
            ></app-complete-temperature>
          </div>
        </mat-expansion-panel>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
